.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.parent {
	background-color: #121212;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 65%;
	border-radius: 15px;
}

.post {
	margin: 3vh 0;
	width: 18%;
	background-color: #535bf2;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #121212;
}

input {
	color: #121212;
}

.form_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form_element label {
    color: rgba(241, 241, 241, 0.5);
    font-size: 1.4rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem ;
}

.form_element input {
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 30% !important;
    text-align: center;
    background-color: #d8d8d8;
    border: none;
    color: #121212;
}

.form_element input:focus,
.form_element input:hover {
    box-shadow: 0px 0px 10px 3px #7371ff;
    outline: none;
}

.form_element button {
    margin: 1.4rem;
    padding: 0.6rem;
    width: 10%;
    border-radius: 1rem;
}

.form_element button:hover {
    cursor: pointer;
}