.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 100vw;
}

.parent {
	background-color: #121212;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 65%;
    border-radius: 15px;
}

.parent > button {
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #7a5af5;
}

.parent > button:hover{
    scale: 105%;
    transition: 0.2s;
}